<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-inner">
        <a href="index.html" class="nav-brand">Faaala Pessoal</a>
        <ul class="nav-links" id="navLinks">
            <li><a href="/index.html">Início</a></li>
            <li><a href="/ferramentas.html">Ferramentas</a></li>
            <li><a href="/sobre.html">Sobre</a></li>
            <li><a href="/contato.html">Contato</a></li>
        </ul>
        <div class="nav-social">
            <a href="https://www.instagram.com/faaalapessoal/" target="_blank" title="Instagram">
                <img src="/img/instagram.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.youtube.com/@faaalapessoal_oficial" target="_blank" title="YouTube">
                <img src="/img/youtube.png" alt="YouTube" class="social-icon">
            </a>
        </div>
        <button class="hamburger" id="hamburger" aria-label="Menu">
            <span></span><span></span><span></span>
        </button>
    </div>
</nav>